<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- Mapper XML 설정 태그 -->

<!-- namespace : 연결할 Mapper 인터페이스 경로 및 이름 -->
<mapper namespace="com.osk.project.persistence.RoomInfoMapper"> <!-- mapper랑 경로랑 이름이 똑같아야 함 -->

	<!-- <resultMap> : DB 쿼리 반환 데이터와 Entity 클래스의 멤버 변수 매핑을 정의하는 태그 - 속성 type 
		: 연결할 클래스 id : SQL 쿼리 정의 태그에서 인식되는 이름 -->
	<resultMap type="com.osk.project.domain.RoomInfoVO" id="roominfoResultMap">

		<!-- <id> : key 컬럼 매핑 태그 <result> : 컬럼 매핑 태그 - 속성 property : Entity 멤버 
			변수 column : DB 테이블 컬럼 -->
		<id property="roomNo" column="ROOM_NO" />
		<result property="hotelNo" column="HOTEL_NO" />
		<result property="roomImg" column="ROOM_IMG" />
		<result property="roomName" column="ROOM_NAME" />
		<result property="roomPersonnel" column="ROOM_PERSONNEL" />
		<result property="roomServiceList" column="ROOM_SERVICE_LIST" />
		<result property="roomDiscount" column="ROOM_DISCOUNT" />
		<result property="roomPrice" column="ROOM_PRICE" />
		
	</resultMap>

	<!-- <select>, <insert>, <update>, <delete> : SQL 쿼리 정의 태그 - 속성 id : Mapper 
		인터페이스 메서드 매핑 역할. resultMap : 쿼리 결과를 resultMap에 매핑. <resultMap> 태그의 id를 적용 
		resultType : 쿼리 결과를 클래스에 매핑 -->


	<insert id="insert"> <!-- id가 insert랑 같아야 함 -->
		<!-- 호텔 등록 -->
		INSERT INTO HOTEL_ROOM_INFO
		(ROOM_NO, HOTEL_NO, ROOM_IMG, ROOM_NAME, ROOM_PRESONNEL, 
		ROOM_SERVICE_LIST, ROOM_DISCOUNT, ROOM_PRICE)
		VALUES (HOTEL_ROOM_INFO_SEQ.NEXTVAL, #{hotelNo}, #{roomImg}, #{roomName},
		#{roomPersonnel}, #{roomServiceList}, #{roomDiscount}, #{roomPrice})
	</insert>
	<!-- #{변수명} : Mapper 인터페이스 메소드 매개변수와 매핑되어 전송된 데이터를 적용 -->

	<select id="selectList" resultMap="hotelinfoResultMap"> <!-- MAPPING 한것 -->
		<!-- 호텔 조회 -->
		SELECT * FROM HOTEL_ROOM_INFO ORDER BY ROOM_NO DESC
		<!-- HOTEL_NO, HOTEL_NAME, HOTEL_YEAR, HOTEL_ROOM_NO, HOTEL_DETAIL, HOTEL_ADDRESS,
		HOTEL_LATITUDE, HOTEL_LONGITUDE, HOTEL_SCOREAYG, LODGING -->
	</select>

	<select id="selectOne" resultMap="hotelinfoResultMap">
		<!-- 특정 호텔 조회 -->
		SELECT * FROM HOTEL_ROOM_INFO WHERE ROOM_NO = #{hotelNo}
	</select>
	
	<select id="selectListByPagination"
		resultMap="hotelinfoResultMap">
		SELECT * FROM (
		SELECT ROW_NUMBER() OVER (ORDER BY BOOM_NO
		DESC) AS RN, HOTEL_ROOM_INFO.*
		FROM HOTEL_ROOM_INFO
		)
		WHERE RN BETWEEN #{start} AND #{end}
	</select>

	<!-- resultType : 쿼리 결과를 자바 객체에 매핑하기 위해 사용 -->
	<!-- Type은 참조타입을 넣어야 한다. 그리고 반환이 1개라고 map을 안씀 -->
	<select id="selectTotalCount" resultType="Integer">
		SELECT COUNT(*) TOTAL_COUNT FROM HOTEL_ROOM_INFO
	</select>

</mapper>

