@charset "UTF-8";

table, th, td {
	border-style: solid;
	border-width: 1px;
	text-align: center;
}

ul {
	list-style-type: none;
	text-align: center;
}

li {
	display: inline-block;
}

#searchForm {
    width: 50%; 
    margin: 0 auto; 
    text-align: center;
}

